
/*
====================
CUSTOM!!
====================
*/
.top_custom{
	overflow: hidden;
	background: rgb(1, 117, 96) none repeat scroll 0 0;
	overflow: hidden;
	height: 40px;
	width: 100%;
}

.container_custom{
	padding: 10px;
	margin-left: 20px;
	margin-right: 20px;
}

.header_line_custom{
	padding-top: 10px;
	/*
	border: 1px solid #E3E3E3;
	*/
}
/*
.googlemap_custom{
	padding: 20px;
}
*/
/*
====================
BACKGROUND MENU!!
====================
*/
.boa{
	overflow: hidden;
	max-height: 200px;
	width: 100%;
	background-image: url(../images/background/untitled-1.jpg);
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;
}
.boa_title{
	font-family: nexa_xboldregular;
	font-size: 200%;
}
.boa_caption{
	font-family: nexa_bookregular;
	font-size: 150%;
	padding-top: 20px;
	padding-bottom: 40px;
}

button.boaBtn,a.boaBtn {
  border: 2px solid white;
  color: rgb(255, 255, 255);
  line-height: 30px;
  margin-bottom: 50px;
  padding: 10px 10px;
  transition: all 0.3s ease 0s;
  font-family: nexa_blackregular;
}
button.boaBtn:hover,a.boaBtn:hover{background: rgb(229, 83, 0);}


button.boaBtn_boa,a.boaBtn_boa {
  border: none;
  color: rgb(0, 0, 0);
  line-height: 30px;
  margin-bottom: 50px;
  padding: 10px 10px;
  transition: all 0.3s ease 0s;
  font-family: nexa_blackregular;
  font-size: 16px;
}
button.boaBtn_boa:hover,a.boaBtn_boa:hover{background: rgb(229, 83, 0); color:white; border:none;}

button.boaBtn_boa_pf{
  border: none;
  color: rgb(0, 0, 0);
  line-height: 30px;
  min-width: 190px;
  margin-bottom: 10px;
  padding: 10px 10px;
  transition: all 0.3s ease 0s;
  font-family: nexa_bookregular;
  font-size: 16px;
}
button.boaBtn_boa_pf:hover{background: rgb(229, 83, 0); color:white; border:none;}

.dropdown-menu{
	min-width: 0px !important;
	text-align: center;
}
/*
====================
FIND LOCATION!!
====================
*/
.find_location{
	padding-top: 20px;
	border-bottom: 1px solid black;
	padding-bottom: 20px;
}
.title_location{
	font-family: nexa_xboldregular ;
	font-size: 20px;
	color: black;
	text-transform: uppercase;
}
.data_location{
	padding-top: 10px;
	font-family: nexa_bookregular;
	font-size: 16px;
	color: black;
}

/*
====================
PADDING!!
====================
*/
.padding_slider{
	padding-top: 20px;
}

.padding_outer{
	padding: 20px;
}
.padding_outer_profile{
	padding: 10px;
}
.padding_outer_menu{
	padding-top: 10px;
}
.padding_outer_review{
	padding-top: 20px;
	padding-bottom: 20px;
}

.padding_user{
	overflow: hidden;
	padding:5px;
}

.font_padding{
	text-align: center;
	font-size:20px;
  	font-family: nexa_blackregular;
  	padding: 10px;
 }

.font_user{
	font-weight: bold;
	padding: none;
}

.font_forgot a{
	font-weight: bold;

}

.font_forgot a:hover{
	color:rgb(229, 83, 0);
}

.font_menu a{
	padding-top: 20px;
	padding-bottom: 20px;
}

.font_menu a:hover{
	color:rgb(229, 83, 0);
}
.position_menu{
	text-align: center;
}
.padding_productsample{
	margin-top: 10px;
	margin-bottom: 10px;
}
.reviews_comment{
	padding-top: 10px;
	color: black;
	border-bottom: 1px solid black;
}
p.reviews.comment{
	font-family: nexa_blackregular;
}

.padding_menu_bottom{
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: nexa_xboldregular;
	font-size: 20px;
	color: black;
}
.menu_bottom_caption{
	object-position: bottom;
}


 /*
====================
BORDER!!
====================
*/
.border_outer{
	padding: 10px;
	border: 2px solid black;
}

 /*
====================
Testimonial & FAQ!!
====================
*/
a.testimonial_custom{
	color: grey;
	font-family: nexa_blackregular;
	font-size: 14px;
}
a.testimonial_custom:hover{
	color: black;
}

.faq{
	font-family: nexa_bookregular;
	padding-bottom: 30px;
}
.faq_title{
	color: black;
	font-size: 20px;
	font-weight: bold;
}
.faq_answer{
	padding-left: 25px;
	font-size: 16px;
	padding-top: 5px;
	color: grey;
}


/*
====================
BUTTON!!
====================
*/
button.cartBtn,a.cartBtn {
  background: rgb(58, 75, 96) none repeat scroll 0 0;
  border: medium none;
  color: rgb(255, 255, 255);
  line-height: 30px;
  margin-bottom: 50px;
  padding: 10px 10px;
  transition: all 0.3s ease 0s;
}
button.cartBtn:hover,a.cartBtn:hover{background: rgb(229, 83, 0);}

button.cartBtnn{
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: nexa_blackregular;
	border: 1px solid black;
	background: none;
	line-height: 30px;
	color: black;
	padding: 10px 10px;
}
button.cartBtnn:hover{ border: 1px solid orange; color: orange;}
/*
====================
BECOME OUR AGENT MODAL!!
====================
*/
.modal_header{
	color:black;
	font-family: nexa_blackregular;
	font-size: 20px;
	padding: 20px 20px 20px 20px;
}

.ui-datepicker{
	z-index: 9999 !important;
}


 /*
====================
ETC!!
====================
*/

.center_button{
	width: 100%;
	object-position: center;
}
.dummy {
    margin-top: 100%;
}
.thumbnail {
    position: absolute;
    top: 15px;
    bottom: 0;
    left: 15px;
    right: 0;
    text-align:center;
    padding-top:calc(50% - 30px);
}
.figure{
	padding: 10px;
}


/*--single--*/
.labout {
	display: block;
	float: left;
}

.cont1 {
	display: block;
	float: left;
}
.span_2_of_a1{
	color: rgb(128,128,128);
	font-size: 16px;
}


.price_single {
	font-size: 1.3em;
	padding-top: 10px;
	padding-bottom: 25px;
}
span.reducedfrom {
	text-decoration: line-through;
	margin-right: 3%;
	color: #555;
}
span.actual {
	color:rgb(255,140,0);
	font-size: 1em;
	margin-right: 5%;
}
h3.quick_h3{
	font-size: 16px;
	color: black;
}
label.quick_h3{
	font-family: nexa_xboldregular;
	font-size: 16px;
	color: black;

}
h3.payment_total{
	font-size: 20px;
	color: grey;
	padding-top: 20px;
}
h3.quick_h3_stock{
	font-size: 16px;
	color: black;
	padding-bottom: 10px;
}
p.quick_desc {
	color: rgb(128,128,128);
	font-size: 14px;
	line-height: 1.8em;
	font-weight: 100;
	margin-bottom: 2em;
	text-align: justify;
}
p.notes{
	font-size: 11px;
}

span.color{
	color: rgb(255,140,0);
}


.sap_tabs{
	padding-top:0;
}
.resp-tabs-list {
	width: 100%;
	list-style: none;
	padding: 0;
}
.resp-tab-item:first-child{
	border-left:none;
}
.resp-tab-item{
	color: #777;
	font-size: 0.95em;
	cursor: pointer;
	padding: 12px 10px;
	display: inline-block;
	margin: 0;
	text-align: center;
	list-style: none;
	float: left;
	outline: none;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	text-transform: uppercase;
}
.resp-tab-item:hover {
	text-shadow: none;
	color:#000;
}
.resp-tab-active{
	background:#F9D9BE;
	text-shadow: none;
	color:#000;
}
.resp-tabs-container {
	padding: 0px;
	clear: left;
}
.resp-tab-content {
	display: none;
}
.resp-content-active, .resp-accordion-active {
   display: block;
}
ul.tab_list{
	list-style: none;
	padding:1em;
}
ul.tab_list li {
	margin-bottom: 10px;
}
ul.tab_list li a {
	color:#999;
	font-size:0.95em;
	line-height: 1.8em;
	vertical-align: top;
	text-decoration: none;
}
ul.tab_list li a:hover {
	color:#333;
}

figure {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0 20px 20px 0;
}

figcaption {
	font-family: nexa_bookregular;
    position: absolute;
    background: black;
    background: rgba(0,0,0,0.75);
    color: white;
    padding: 10px 20px;
    opacity: 0;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
}

figure:hover figcaption {
    opacity: 1;
}

.caption
{
	width: 200px;
	font-size: 16px;
}

.title_cap{
	font-family: nexa_blackregular;
	padding-bottom: 5px;
}

.cap-left:before {
    bottom: 10px;
    left: 10px;
}

.cap-left figcaption {
    bottom: 0;
    left: -30%;
}

.cap-left:hover figcaption {
    left: 0;
}

.cap-right:before {
    bottom: 10px;
    right: 10px;
}

.cap-right figcaption {
    bottom: 0;
    right: -30%;
}

.cap-right:hover figcaption {
    right: 0;
}

.cap-top:before {
    top: 10px;
    left: 10px;
}

.cap-top figcaption {
    left: 0;
    top: -30%;
}

.cap-top:hover figcaption {
    top: 0;
}

.cap-bot:before {
    bottom: 10px;
    left: 10px;
}

.cap-bot figcaption {
    left: 0;
    bottom: -30%;
}

.cap-bot:hover figcaption {
    bottom: 0;
}




/*
============

============
*/
#login-dp{
	float: right;
    min-width: 250px !important;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
    z-index: 100000 !important;
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .form-group {
    margin-bottom: 10px;
}

@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}

/*
 * Component: Box
 * --------------
 */
.box {
  position: relative;
  border-radius: 3px;
  background: #ffffff;
  border-top: 3px solid #d2d6de;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.box.box-primary {
  border-top-color: #3c8dbc;
}
.box.box-info {
  border-top-color: #00c0ef;
}
.box-header {
  color: #444;
  display: block;
  padding: 10px;
  position: relative;
}
.box-header.with-border {
  border-bottom: 1px solid #f4f4f4;
}
.collapsed-box .box-header.with-border {
  border-bottom: none;
}

/*
 * Page: Profile
 * -------------
 */
.profile-user-img {
  margin: 0 auto;
  width: 100px;
  padding: 3px;
  border: 3px solid #d2d6de;
}
.profile-username {
  font-size: 21px;
  margin-top: 5px;
  color: black;
  font-family: nexa_blackregular;
}
.list-group{
	color:black !important;
}
.list-group-unbordered > .list-group-item {
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;
}


/*
 * Stepper
 * -------------
 */
.stepper
{
	color: black;
	margin:0 auto;
	padding:0;
	text-align:center;
	padding-bottom: 20px;
}
#wrapper
{
  padding-bottom: 20px;
  width:100%;
  padding:0px;
  margin:0px auto;
  font-family:helvetica;
  position:relative;
}
#wrapper_progress
{
  padding-bottom: 20px;
  width:100%;
  padding:0px;
  margin:0px auto;
  font-family:helvetica;
  position:relative;
}
#wrapper_table
{
  padding-bottom: 20px;
  width:100%;
  padding:10px;
  margin:0px auto;
  font-family:helvetica;
  position:relative; 
}
#wrapper_progress .baricon
{
  display:inline-block;
  border-radius:100%;
  padding:12px;
  background-color:#38610B;
  color:white;
}
#wrapper_progress .progress_bar
{
  width:15%;
  height:5px;
  border-radius:20px;
  background-color:#D8D8D8;
  display:inline-block;
  background-color: none !important;
}
#wrapper div
{
  padding:10px;
  box-sizing:border-box;
  background-color:#585858;
}
#wrapper div p
{
  color:#F2F2F2;
  margin:0px;
  margin-top:10px;
  font-weight:bold;
}
#wrapper div label
{
  color:#F2F2F2;
  margin:0px;
  margin-top:10px;
}
#wrapper div .form_head
{
  font-size:22px;
  font-weight:bold;
  margin-bottom:30px;
  padding-bottom: 20px;
  border-bottom: 2px solid white;
}
#wrapper_table div .form_head
{
  font-size:22px;
  font-weight:bold;
  margin-bottom:30px;
  padding-bottom: 20px;
  border-bottom: 2px solid black;
}
#wrapper div input[type="text"], #wrapper_table div input[type="text"]
{
  width:50%;
  height:40px;
  padding:5px;
  border-radius:5px;
  border:none;
  /*margin-top:10px;*/
}
#wrapper div select
{
  width:50%;
  height:40px;
  padding:5px;
  border-radius:5px;
  border:none;
  /*margin-top:10px;*/
}
#wrapper div input[type="button"],input[type="submit"]
{
  width:80px;
  height:40px;
  border-radius:5px;
  border:2px solid white;
  background:none;
  color:white;
  margin:5px;
  margin-top:10px;
}
#wrapper_table input[type="button"], input [type="submit"]
{
  width:80px;
  height:40px;
  border-radius:5px;
  border:2px solid black;
  background:none;
  color:black;
  margin:5px;
  margin-top:10px;
}

#product_details, #subcriber, #finish, #delivery_address, #choose_agent, #payment
{
  display:none;
}